extends layout

block content
	div.row
	div.panel
		
		h1 
			strong
				em Boolean Ninja
		h5 The ninjitsu of reasoning and truth

	div(class='small-12 medium-2 column')
		h4 
			strong Featured Hacks
		ul
			li
				a(href='#') Hack 1

	div(class='small-12 medium-9 column')
		h4 
			em Who Are We
		p Boolean Ninja originated from University of Massachusetts-Amherst. We are an organization of students hackers. We are 'hackers' who are passionate about problem that needs solving. Our members are active participants of various hackathons and we create various open source projects hoping to benefit other developers. We will be posting our hacks on this page with links to the repository and descriptions. You are welcomed to help us further develop any of our hacks. We are always looking for new members, you have to be affiliated an accredited University.

		h4 
			em Hackathons
		p Hackathons are popular Software Development challenges where competitors create and develop innovative projects under intense time constrain. Hackathons lasts from hours to days and participants include developers, designers and managers. We are passionate about hackathons because it gives us a chance to compete against other great developers and chances to build something fun and useful. 
		
		h4
			em 'Boolean Ninja'
		p Our name Boolean Ninja comes from the computing concept 'boolean' and 'ninja'. Boolean is an important data type in computer science and philosophy. It represents a value that is either true or false. Every significant computer reasoning is established on the foundation of boolean. Ninjas are special agents during feudal Japan with, the term 'ninja' however has been used contemporarily to mean 'expert'. We hope to become experts at reasoning and intelligence through our hacking.

