doctype html
html
	head
		title= title

		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/foundation/css/foundation.min.css')

		script(src='/stylesheets/foundation/js/foundation.min.js')
		script(src='/javascripts/core.js')

	body
		nav(class='top-bar' data-topbar)
			ul(class='title-area')
				li(class='name')
					h1
						a(href='#') Boolean Ninja
			section(class='top-bar-section')
				//Right nav section
				ul(class='right')
					li
						a(href='#') Contact
					li
						a(href='#') Members
					li
						a(href='#') Hacks
				ul(class='left')
					li
		block content

		hr
		div.row
			div(class='small-12 column')
				center 
						small © Boolean Ninja 2014
						br
						small All content of this webpage is free for use under the <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>